.app { display: flex; background-color: black; } .content { flex: 1; padding: 20px; } body{ background-color: black; }

@media (max-width: 768px) {

  
  .app-container {
    flex-direction: column; 
  }

 
  .sidebar {
    width: 100%;
    position: relative;
    height: auto;
    padding: 10px;
  }

  .main-content {
    margin-left: 0;     

    padding: 10px;
    transition: margin-left 0.3s ease-in-out;
  }

  
  .category-list {
    width: 100%; 
    display: flex;
    flex-direction: column; 
    gap: 15px;
    
  }

  
  .category-card {
    flex: 1 1 100%; 
    padding: 20px;
  }

  .category-card img {
    width: 100%; 
    height: auto;
  }
}


@media (max-width: 480px) {
  .category-card {
    flex: 1 1 100%; 
    padding: 10px;
  }
  
  .category-card img {
    width: 100%;
    height: auto;
  }

  .main-content {
    padding: 5px;
  }
}